.stats {
  display: flex;
  flex-direction: row;
  gap: 20px;

  @media (max-width: 600px) {
    flex-direction: column;
  }
}

.map {
  width: 80vh;
  height: 80vh;
  border: none;
  flex-shrink: 0;

  @media (max-width: 600px) {
    width: 40vh;
    height: 60vh;
  }
}
